
<!-- <app-navbar></app-navbar>
<button class="btn btn-primary" type="menu" ng-click= "getData()">click to more!</button><br><br> -->
<!-- <li *ngFor="let player of data">
    {{player.name}}
</li> -->

<!-- <div>
    <img src="assets/data/gopalpur.jpg">
</div> -->


<h6>Your Favorate Team:</h6>

<div class="container">
    <ul class="group-list">
        <li class="list-item"><a href="india">India</a></li>
        <li class="list-item"><a href="austreliya">Austreliya</a></li>
        <li class="list-item"><a href="africa">South Africa</a></li>
        <li class="list-item"><a href="england">England</a></li>
        <li class="list-item"><a href="newzeland">New Zeland</a></li>
        <li class="list-item"><a href="pakistan">Pakistan</a></li>
        <li class="list-item"><a href="indies">West Indies</a></li>
        <li class="list-item"><a href="lanka">Sri Lanka</a></li>
        <li class="list-item"><a href="bangladesh">Bangladesh</a></li>
        <li class="list-item"><a href="afgan">Afganistan</a></li>
        
    </ul>
</div>