<!-- <app-navbar></app-navbar>


<div> 
   <img src="assets/data/barnama.jpg">
</div> -->



<h6>Top 10 Test Players:-</h6>

<div class="container">
   <ul>
      <li><a href="kohli">Kohli</a></li>
   <li><a href="smith">Smith</a></li>
   <li><a href="williamson">Williamson</a></li>
   <li><a href="labuschange">Labuschagne</a></li>
   <li><a href="pujara">Pujara</a></li>
   <li><a href="Babar azam">Babar Azam</a></li>
   <li><a href="warner">Warner</a></li>
   <li><a href="rahane">Rahane</a></li>
   <li><a href="joroot">Jo Root</a></li>
   <li><a href="dekock">de Kock</a></li>
     
   </ul>
</div>


<h6>Top 10 OneDay Players:-</h6>

<div class="container">
   <ul>
      <li><a href="kohli">Kohli</a></li>
   <li><a href="sharma">Rohit Sharma</a></li>
   <li><a href="babar">Babar Aazam</a></li>
   <li><a href="duplessis">Duplessis</a></li>
   <li><a href="taylor">Ross taylor</a></li>
   <li><a href="williamson">Williamson</a></li>
   <li><a href="warner">Warner</a></li>
   <li><a href="root">Jo Root</a></li>
   <li><a href="hope">Shay Hope</a></li>
   <li><a href="dekock">de Kock</a></li>
     
   </ul>
</div>