<!-- <h4>Home page!</h4> -->

<!-- <app-navbar></app-navbar> -->
<!-- <div>
    <img src="assets/data/warisaliganj.jpg">
</div>  -->

<!-- <ul class="list-group list-group">
    <li class="list-group-item d-flex justify-contenet-beween align-item-center">First 
        <span class="badge badge-primary badge-pill">23</span>

    </li>
    <li class="list-group-item list-group-item-success">Second</li>
    <li class="list-group-item">Third</li>
</ul>
     
                                                                        
<div class="btn-group">
    <button type="button" class="btn btn-primary">Apple</button>
    <button type="button" class="btn btn-primary">Samsung</button>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
         Sony
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Tablet</a>
        <a class="dropdown-item" href="#">Smartphone</a>
      </div>
    </div>
  </div> 


< <h3>Basic List group.</h3> -->

  <!-- <ul class="list-group">
      <li class="list-group-item active">Frist.</li>
      <li class="list-group-item">Second.</li>
      <li class="list-group-item">Last.</li>
  </ul>

  <h3>List group with Linked item</h3>

  <div class="list-group">
      <a href="footer" class="list-group-item list-group-item-action active">Footer</a>
      <a href="header" class="list-group-item list-group-item-action">Header</a>
      <a href="home" class="list-group-item list-group-item-action">Home</a>
  </div>  -->

  <!-- <div class="group-item">
      <a href="" class="list-group-item disabled">Disable item</a>
      <a href="" class="list-group-item">item</a>
  </div> -->


<!-- <ul class="list-group list-group-verticle">
    <li class="list-group-item list-group-item-warning">First</li>
    <li class="list-group-item">Second</li>
    <li class="list-group-item">Third</li>
</ul>


<h3>Grid Columns:</h3>
<div class="card-columns">
    <div class="card bg-primary">
        <div class="card-body text-center">
            <p class="card-text">some text in The Card.</p>
        </div>
    </div>

    <div class="card bg-success">
        <div class="card-body text-center">
            <p class="card-text">Text in the success card</p>
        </div>
    </div>

    <div class="card bg-warning">
        <div class="card-body text-center">
            <p class="card-text">Text in the wrning card</p>
        </div>
    </div>

    <div class="card bg-danger">
        <div class="card-body text-center">
            <p class="card-text">Text in the danger card</p>
        </div>
    </div>
</div>


<h3>Dropdown:</h3>
<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Dropdown Menu
    </button>
    <div class="dropdown-menu">
        <a href="header" class="dropdown-item">Header</a>
        <a href="footer" class="dropdown-item">Footer</a>
        <a href="sidebar" class="dropdown-item">Sidebar</a>
    </div>
</div> -->


<!-- <h3>Navs</h3>
<ul class="nav nav-pills">
    <li class="nav-item">
        <a href="" class="nav-link">Link1</a>
    </li>

    <li class="nav-item">
        <a href="" class="nav-link active">Link2</a>
    </li>

    <li class="nav-item">
        <a href="" class="nav-link">Link3</a>
    </li>

    <li class="nav-item">
        <a href="" class="nav-link active">Link4</a>
    </li>
</ul>  -->



<!-- <h3>Navbar</h3>
<div class="container">
<nav class="navbar navbar-expand-sm bg-warning fixed-top">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="" class="navbar-brand">Link1</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">Link2</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">Link3</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">Link4</a>
        </li>
    </ul>
</nav>
</div> -->


<!-- <h3>Select List</h3>
<div class="form-group" style="background-color:teal;">
    <label for="sell">Select List</label>
    <select class="form-control" id="sell">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
</div> -->

<!-- <h3>Inputs</h3>
<form>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">@</span>
      </div>
      <input type="text" class="form-control" placeholder="Username">
    </div>
  
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Your Email">
      <div class="input-group-append">
        <span class="input-group-text">@example.com</span>
      </div>
    </div>
  </form>  -->

  <!-- <h3>Input Group Button</h3>

  <div class="input-group mb-3">
      <div class="input-group-prepend">
          <button class="btn btn-outline-primary" type="button">Basic Button</button>
      </div>
      <input type="text" class="form-control" placeholder="Some Text">
  </div>

  <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search">
      <div class="input-group-apend">
          <button class="btn btn-success" type="submit">Go</button>
      </div>
  </div> -->


<!-- 
  <h3>Custom Checkbox</h3>

  <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="customCheck" name="example">
      <label for="customCheck" class="custom-control-label">Check this custom checkbox </label>
  </div> -->



  <!-- <div class="container mt-3">
    <h2>Flex</h2>
    <p>To create a flexbox container and transform direct children into flex items, use the d-flex class:</p>
    <div class="d-flex p-3 bg-secondary text-white">  
      <div class="p-2 bg-info">Flex item 1</div>
      <div class="p-2 bg-warning">Flex item 2</div>
      <div class="p-2 bg-primary">Flex item 3</div>
    </div> 
  </div> -->


  <!-- <audio src="outfoxing.mp3"></audio>

<button class="paused">Play</button>
<br>
<input type="range" min="0" max="1" step="0.01" value="1" class="volume"> -->





<h4>About ICC:</h4>

<p>The International Cricket Council (ICC) is the global governing body of cricket.
    It was founded as the Imperial Cricket Conference in 1909 by representatives from Australia,
    England and South Africa. It was renamed as the International Cricket Conference in 1965,
    and took up its current name in 1989. It organises world championship events such as 
    Cricket World Cup, Women's Cricket World Cup, ICC T20 World Cup, ICC Women's T20 World Cup,
    ICC Champions Trophy and Under-19 Cricket World Cup.</p>

<p>The ICC has 104 members: 12 Full Members that play Test matches and 92 Associate Members.
   [3] The ICC is responsible for the organisation and governance of cricket's major
    international tournaments, most notably the Cricket World Cup. It also appoints 
    the umpires and referees that officiate at all sanctioned Test matches, 
    One Day International and Twenty20 Internationals. It promulgates the ICC Code of Conduct, 
    which sets professional standards of discipline for international cricket,[4] 
    and also co-ordinates action against corruption and match-fixing through its 
    Anti-Corruption and Security Unit (ACSU).</p>

<p> The ICC does not control bilateral fixtures between member countries (which include all Test matches), 
    it does not govern domestic cricket in member countries, and it does not make the laws of the game,
    which remain under the control of the Marylebone Cricket Club.[5]</p>

<p>
    On 30 November 1907, Abe Bailey, the President of South African Cricket Association,
    wrote a letter to the Marylebone Cricket Club's (MCC, England) secretary, F.E. Lacey.
    Bailey suggested the formation of an 'Imperial Cricket Board'. 
    In the letter, he suggested that the board would be responsible for formulation of rules and 
    regulations which will govern the international matches between the three members: Australia,
    England and South Africa. Bailey, wanted to host a Triangular Test series between the participant 
    countries in South Africa. Australia rejected the offer. However, Bailey did not lose hope.
    He saw an opportunity of getting the three members together during the Australia's tour of England
    in 1909. After continued lobbying and efforts, Bailey was successful.[10]On 1
</p>
